.ant-layout-header {
    .logo {
        // background: rgba(255, 255, 255, 0.2);
        // margin: 16px 28px 16px 0;
        width: 145px;
        height: 100%;
        float: left;
        color: white;
        font-weight: 900;
        background-image: url(/static/media/logo-horizontal.0c89ab42.png);
        background-size: contain;
      }
    background: #057A8F;
    .ant-menu-dark.ant-menu-horizontal {
        background: #057A8F;
        .ant-menu.item .ant-menu-item-only-child .ant-menu-item-selected {
            background-color: #003944 !important;
        }
    }
}

.ant-layout-content {
    padding: 0 !important;
    .main-container {
        background: #fff;
        padding-bottom: 30px;
        position: relative;
        .interactive-content-default {
            display: flex;
            flex-flow: row;
            #map {
                // flex-grow: 1;
                width: 100%;
            }
            .list-container {
                display: none;
                width: 0;
            }
        }
        .interactive-content-list {
            display: flex;
            #map {
                // flex-grow: 1;
                // width: 30%
                flex: 1;
            }
            .list-container {
                background: #f3f3f3;
                min-height: 70vh;
                max-height: 70vh;
                flex: 3;
                overflow: scroll;
                // width:70%;
            }
        }
        .tagline {
            text-align: center;
            padding: 10px;
        }
    }
}

@media all and (max-width: 750px) {
    .interactive-content-list {
        flex-flow: column;
        #map {
            flex: 1 100%;
            height: 30vh;
            // order: 1;
        }
        .list-container {
            max-height: none!important;
            overflow: visible!important;
            // width:70%;
        }
    }
}

.ant-layout-footer {
    bottom: 0;
    width: 100%;
    .footer-text {
        max-width: 500px;
        margin: 0 auto;
    }
}

.webGl-warning {
    max-width: 750px;
    margin: auto;
    text-align: center;
    background-color: #bb65656e;
    border-radius: 5px;
    border: 1px solid #bb6565;
}