.start-network-container {
    background-color: lightgrey;
    border-radius: 3px;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 40px;
    max-width: 650px;
    height: 175px;
    margin: 20px auto 20px auto;
    a {
           display: flex;
           justify-content: center;
           align-items: center;
    }
    #start-network-button {
        max-width: 450px;
        height: 100px;
        font-size: 2em;
        border-radius: 3px;
    }
}