$general: #8048f3;
$offer: #6ac1e5;
$request: #ef4822;
$info: #057A8F;

.network-card {
  margin: 30px;
  .ant-card-extra {
    .text-general {
      color: $general;
    }
    .text-community {
      color: $info;
    }
    .text-request-support {
      color: $request;
    }
    .text-offer-support {
      color: $offer;
    }
    .text-other {
      color: $info;
    }
  }
}

ul {
  padding-left: 0;
}

.button {
  font-size: 1.1em;
  font-weight: 600;
}

.list-inline {
  ul {
    padding-left: 0;
  }
  li {
    display:inline;
  }
  li:not(:first-child):before {
    margin-right: 5px;
    margin-left: 5px;
    content: '\2022';
  }
}
