.network-card {
  margin: 30px;
}

.button {
  font-size: 1.1em;
  font-weight: 600;
}

ul {
  padding-left: 0;
}

.list-inline li {
  display:inline;
}

.list-inline li:not(:first-child):before {
  margin-right: 5px;
  margin-left: 5px;
  content: '\2022';
}
