@mixin checkbox($color) {
        .ant-checkbox-checked .ant-checkbox-inner {
            background-color: $color;
            border-color: $color;
        }

        // .ant-checkbox-checked::after {
        //     border: 
        // }
}
.filter-container {
    background: #ffffffb5;
    .ant-checkbox-wrapper {
        margin-left: 8px;
    }
    .general {
        @include checkbox(#8048f3)
    }
    .offer-support {
        @include checkbox(#6ac1e5)
    }
    .request-support {
        @include checkbox(#ef4822)
    }
}

.filter-container.absolute-pos {
    position: absolute;
    top: 64px;
    left: 10;
    z-index: 2;
    width: 165px;
}
